In [1]:
t = (1,2,3)

In [2]:
mylist = [1,2,3]

In [3]:
type(t)

tuple

In [4]:
type(mylist)

list

In [5]:
t

(1, 2, 3)

In [6]:
 t = ('a','a','b')

In [7]:
t

('a', 'a', 'b')

In [9]:
t.count('a')

2

In [10]:
t.index('a')

0

In [11]:
t.index('b')

2

In [12]:
t

('a', 'a', 'b')

In [13]:
mylist

[1, 2, 3]

In [14]:
mylist[0] = 'NEW'

In [15]:
mylist

['NEW', 2, 3]

In [16]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [17]:
myset = set()

In [18]:
myset

set()

In [19]:
myset.add(1)

In [20]:
myset

{1}

In [21]:
myset.add(2)

In [22]:
myset

{1, 2}

In [23]:
myset.add(2)

In [24]:
myset

{1, 2}

In [25]:
mylist = [1,1,1,1,1,1,2,2,2,2,2,3,3,3,3
         ]

In [26]:
mylist

[1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3]

In [27]:
set(mylist)

{1, 2, 3}

In [28]:
mylist

[1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3]